<div ng-if="editMode">
    <h1>{{pageName}}</h1>
    <textarea id="editor" ng-model="$localStorage['page__' + pageName]"></textarea>
</div>

<div ng-if="!editMode">
    <h1>{{pageName}}</h1>
    <div ng-if="$localStorage['page__' + pageName]" ng-bind-html="$localStorage['page__' + pageName]|parseText"></div>
    <p ng-if="!$localStorage['page__' + pageName]">No page yet. <a href="" ng-click="newPage()">Create it !</a></p>
</div>
<a class="btn btn-primary" ng-click="editMode = ! editMode">
    <span ng-hide="editMode">Edit</span>
    <span ng-show="editMode">View</span>
</a>