<!--h1>{{pageName}}</h1-->
<h1>{{currentStory.title}}</h1>
<div ng-show="currentStory.canEdit">
    <a class="btn btn-primary pull-right" ng-click="editMode = ! editMode">
        <span ng-hide="editMode"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</span>
        <span ng-show="editMode"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View</span>
    </a>
</div>

<div ng-if="editMode">
    <h1>Edition: {{pageName}}</h1>
    <textarea id="editor" ng-model="$localStorage.pages[pageName]"></textarea>
</div>

<div ng-if="!editMode">
    <div ng-if="$localStorage.pages[pageName]" ng-bind-html="$localStorage.pages[pageName]|parseText"></div>
    <p ng-if="!$localStorage.pages[pageName]">
        No page yet. <a ng-if="currentStory.canEdit" href="" ng-click="newPage()">Create it !</a>
    </p>
</div>
